@use "../lib" as *;

.product-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 54px;
    padding-left: 100px;
    padding-right: 100px;

    &__grid {
        display: flex;
        flex-direction: column;
        gap: 50px;         
        width: 90%;
    }

    &__row {
        display: flex;
        justify-content: space-between;  
        align-items: center;

        img {
            width: auto;
            height: 40px;
            object-fit: contain;
        }
    }
}