.topbar{
    display: flex;
    padding: 0 24px;
    height: 72px;
    flex-direction: row;
    align-items: center;

    &__nav{
        flex: 1;
        display: flex;
        align-items: center;
        gap: 48px;
    }

    &__logo{
        color: var(--color-text-primary);
        font-size: var(--text-h5);
        font-weight: var(--font-semibold);
        text-decoration: none;
    }

    &__actions{
        display: inline-flex;
        align-items: flex-start;
        gap: 12px;
    }

}