.event-bar {
    display: inline-flex;
    align-items: center;
    gap: var(--space-xs);
    padding: 2px var(--space-md) 2px 2px;
    border-radius: 20px;
    background-color: #f2f4f6;
    line-height: 0.2;
    cursor: pointer;
    
    &__badge {
        background-color: var(--color-text-primary);
        color: var(--color-text-on-primary);
        font-size: var(--text-body-sm);
        font-weight: var(--font-medium);
        padding: 2px 8px;
        border-radius: var(--radius-full);
        line-height: 1.8;
        letter-spacing: -0.1px;
    }

    &__text {
        font-size: var(--text-body-sm);
        color: var(--color-text-secondary);
        font-weight: var(--font-medium);
        letter-spacing: -0.1px;
    }

    &__arrow {
        font-size: var(--text-body-sm);
        color: var(--color-text-secondary);
    }
}
