.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 28px;

    &__item {
        color:hsl(228, 5%, 12%);
        text-align: center;
        font-size: var(--text-body);
        font-weight: var(--font-medium);
        line-height: 24px;
        letter-spacing: -0.2px;
        text-decoration: none;

        &--careers {
            position: relative;
            padding: 8px 16px 8px 15px;
            border-radius: 12px;
        }
    }
}
